.allowed-outside {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(53,221,4);
  background: radial-gradient(circle, #49ff92 0, #008036 100%);
  color: #fff;
  font-size: 20rem;
  line-height: 1;
  text-shadow: 3px 3px 10px rgba(0,0,0,.4);
  @media (max-width: 500px) {
    font-size: 12rem;
  }
  .countdown {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 25px;
    line-height: 1.5;
    text-shadow: 1px 1px 5px rgba(0,0,0,.4);
    strong {
      letter-spacing: 3px;
    }
  }
  &.no {
    background: radial-gradient(circle,#f24b4b 0,#ac0707 100%);
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    opacity: .5;
    transition: opacity .3s;
    &:hover {
      opacity: 1;
      color: #fff;
    }
    svg {
      filter: drop-shadow( 1px 1px 2px rgba(0, 0, 0, 1.7));
    }
  }
}

