.float-right { float: right }
.float-left { float: left }

.space-between {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block {
  margin: 0 0 20px;
}


/**
 * Typography
 */
 .desc {
  font-size: .8rem;
  color: #777;
}

.meta {
  font-size: .8rem;
  color: #999;
  letter-spacing: 1px;
}
// .meta a {
//   font-weight: bold;
//   color: #aaa;
// }

.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
