* { box-sizing: border-box; }
html, body { background: #fcfcfc; }
body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #444;
}

h1 {
  font-size: 30px;
  font-weight: 300;
  color: #555;
}
h2 {
  font-weight: 400;
  font-size: 18px;
  margin: 0 0 10px;
}
h2 a {
  color: #444;
}
h4 {
  font-size: 1rem;
  margin: 0 0 5px;
}
a {
  color: #26B864;
  text-decoration: none;
}
