
/**
 * General
 */
.root {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  grid-gap: 20px;
}
.container {
  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}
.page {
  display: flex;
  flex-direction: row-reverse;
}
.main {
  flex: 1;
}
.sidebar {
  width: 200px;
  margin-left: 30px;
}
.layout--narrow {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}


.layout-1 {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "intro"
    "content"
    "sidebarTop";
  @media (min-width: 600px) {
    grid-template-columns: 1fr 300px;
    grid-template-areas:
      "intro sidebarTop"
      "content sidebarTop";
  }
}
.layout-posts {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "sidebarTop"
    "content";
  @media (min-width: 600px) {
    grid-template-columns: 1fr 300px;
    grid-template-areas: "content sidebarTop";
  }
}

.sidebar-top { grid-area: sidebarTop; }
.intro { grid-area: intro; }
.content { grid-area: content; }


.box {
  padding: 20px 20px 0;
  margin: 0;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;

  &--row { margin: 0 0 20px; }
  &--padded { padding-bottom: 20px; }
}

/**
 * Page
 */
// Page transition animations
.transition-wrapper {
  position: relative;
}
.fade-enter {
  opacity: 0.01;
  transform: translateY(-10px);
}
.fade-enter.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 200ms ease-in, opacity 300ms ease-in;
}
.fade-exit {
  display: none;
}


/**
 * Header
 */
.header {
  background: #0086DB;
  color: #fff;
  border-bottom: 1px solid #002842;
  height: 55px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a {
    color: #fff;
  }
}
.logo {
  margin: 0;
  font-size: 24px;
  font-weight: normal;
}

.nofif--none {
  .notif-badge {
    background: #0086DB;
    border: 1px solid #fff;
  }
  opacity: .5;
}

.loading--pulse {
  animation: loadingPulse 2s infinite;
}

@keyframes loadingPulse {
  0% { opacity: 1; }
  50% { opacity: 0.2; }
  100% { opacity: 1; }
}

.notif-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #cc2c20;
  color: #fff;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1;
}
.notif-list {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  z-index: 9000;
  width: 320px;
  color: #333;
  background: #fff;
  border: 1px solid #002842;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  font-size: 14px;
  &::after {
    pointer-events: none;
    display: block;
    position: absolute;
    background: $lightPrimaryBg;
    border: 1px solid #002842;
    transition: opacity 0.3s ease-out;
    content: "";
    top: -5px;
    right: 18px;
    z-index: -1;
    transform: rotate(-45deg);
    width: 8px;
    height: 8px;
    border-width: 1px 1px 0 0;
  }

  a {
    display: block;
    color: #333;
    padding: 5px 10px;
    border-bottom: 1px solid #ddd;
    &:hover {
      color: #fff;
      background: #002842 !important;
    }
    &:nth-of-type(odd) {
      background: $lightPrimaryBg;
    }
    &:last-child {
      border: 0;
    }
  }
}


/**
 * Footer
 */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px;
  border-top: 1px solid #ddd;
  font-size: 0.8rem;
  opacity: 0.6;
  text-align: center;
}


/**
 * Pagination
 */
.pagination {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  width: 100%;
  display: flex;
}
.pagination > li {
  display: inline-block;
}
.pagination > li > a {
  display: inline-block;
  padding: 3px 8px;
}
.pagination > .active > a {
  color: #000;
}

.pagination .prev,
.pagination .next {
  transform: scale(1.4)
}
.pagination .prev {
  margin-right: auto;
}
.pagination .next {
  margin-left: auto;
}


/**
 * Lightbox
 */
.lightbox {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background: rgba(0, 0, 0, .7);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  img {
    background: rgba(255, 255, 255, .3);
    max-width: 100%;
    max-height: 100%;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, .5);
  }
}
