
.Post-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}


/* Post */
.post-content { margin-bottom: 30px; }
.comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  position: relative;
}
.subcomments {
  padding-left: 8px;
  border-left: 3px solid #aea;
}

.subcomments .comment {
  padding: 10px;
}
.subcomments .comment:before {
  content: "\0020";
  display: block;
  position: absolute;
  top: 11px;
  left: -8px;
  border: 6px solid transparent;
  border-left-color: #aea;
}

.subcomments-odd {
  border-color: #9edaff;
}
.subcomments-odd > div > .comment:before {
  border-left-color: #9edaff;
}

.col { padding: 0; margin-bottom: 20px; }

@media only screen and (min-width: 500px) {
  .row {
    display: flex;
    margin-bottom: 20px;
  }
  .col {
    flex: 1;
  }
  .col:nth-last-of-type(even) {
    padding: 0 15px 0 0;
  }
  .col:nth-last-of-type(odd) {
    padding: 0 0 0 15px;
  }
}


/**
 * Profile
 */
.profile {
  &__img {
    border: 1px solid #ddd;
    border-radius: 3px;
  }
}
