
@import "uploader";

.App-header {
  background: #0086DB;
  color: #fff;
  border-bottom: 1px solid #002842;
  margin-bottom: 20px;
  line-height: 55px;
  height: 55px;
}
.logo {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}
.App-header a {
  color: #fff;
}
.container {
  max-width: 970px;
  margin: 0 auto;
  padding: 0 10px;
}

.float-right { float: right }

.meta {
  font-size: 12px;
  color: #aaa;
  letter-spacing: 1px;
}
.meta a {
  font-weight: bold;
  color: #aaa;
}

.Post-item {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}


.header {
  display: flex;
  justify-content: space-between;
}



.transition-wrapper {
  position: relative;
}
.fade-enter {
  opacity: 0.01;
  transform: translateY(-10px);
}

.fade-enter.fade-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 200ms ease-in, opacity 300ms ease-in;
}

.fade-exit {
  display: none;
}


.pagination {
  list-style: none;
  padding: 0;
  margin: 0 0 30px;
  width: 100%;
  display: flex;
}
.pagination > li {
  display: inline-block;
}
.pagination > li > a {
  display: inline-block;
  padding: 3px 8px;
}
.pagination > .active > a {
  color: #000;
}

.pagination .prev,
.pagination .next {
  transform: scale(1.4)
}
.pagination .prev {
  margin-right: auto;
}
.pagination .next {
  margin-left: auto;
}


/* Post */
.post-content { margin-bottom: 30px; }
.comment {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
  position: relative;
}
.subcomments {
  padding-left: 8px;
  border-left: 3px solid #aea;
}

.subcomments .comment {
  padding: 10px;
}
.subcomments .comment:before {
  content: "\0020";
  display: block;
  position: absolute;
  top: 11px;
  left: -8px;
  border: 6px solid transparent;
  border-left-color: #aea;
}

.subcomments-odd {
  border-color: #9edaff;
}
.subcomments-odd > div > .comment:before {
  border-left-color: #9edaff;
}

.col { padding: 0; margin-bottom: 20px; }

@media only screen and (min-width: 500px) {
  .row {
    display: flex;
    margin-bottom: 20px;
  }
  .col {
    flex: 1;
  }
  .col:nth-last-of-type(even) {
    padding: 0 15px 0 0;
  }
  .col:nth-last-of-type(odd) {
    padding: 0 0 0 15px;
  }
}


/**
 * Profile
 */
.profile {
  &__img {
    border: 1px solid #ddd;
    border-radius: 3px;
  }
}


/**
 *
 */
.page {
  display: flex;
  flex-direction: row-reverse;
}
.main {
  flex: 1;
}
.sidebar {
  width: 200px;
  margin-left: 30px;
}

/**
 * Forms
 */
.narrow-form {
  max-width: 400px;
  margin: 0 auto;
}

.downshift {
  &__input {
    position: relative;
  }
  &__clear {
    position: absolute;
    top: 0px;
    right: 0px;
    border: 0;
    display: flex;
    align-content: center;
    justify-content: center;
    background: none;
    width: 34px;
    height: 34px;
    color: #444;
    font-size: 14px;
    cursor: pointer;
  }
  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    max-height: 150px;
    overflow: scroll;
    z-index: 100;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    margin: 0;
    padding: 0;
    list-style: none;
    > li {
      padding: 5px 10px;
      &:hover {
        background: #f5f5f5;
        cursor: pointer;
      }
    }
  }
}
