@import "variables";
@import "html";
@import "classes";
@import "forms";
@import "layout";
@import "pages";
@import "uploader";

// Yellow FFDD49
// Green 0F7173
// Black/Dark 272932

.btn {
  background: #0086DB;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: opacity .3s;

  &--block {
    display: block;
  }
  &--warn {
    background-color: #999;
  }
  &--danger {
    background: #FF595E;
  }
}

.btn:disabled {
  opacity: 0.3;
  cursor: wait;
}

.desc {
  font-size: 12px;
  color: #777;
}
