
.login-info {
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #31708f;
  background-color: #d9edf7;
  color: #31708f;
  border-radius: 3px;
}
.login-warn {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a94442;
}

.login-form {
  max-width: 400px;
  margin: 0 auto;
  padding-top: 50px;
}
